<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="6.0">
	<display-name>NewsManagement</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>by.htp.ex.controller.FrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/controller</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>by.htp.ex.controller.listener.ContextListener</listener-class>
	</listener>
	
	<filter>
		<filter-name>Folder</filter-name>
		<filter-class>by.htp.ex.controller.filter.FolderFilter</filter-class>	
	</filter>	

	<filter-mapping>
		<filter-name>Folder</filter-name>
		<url-pattern>/uploaded-files/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>Encoding</filter-name>
		<filter-class>by.htp.ex.controller.filter.EncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>		
	</filter>	

	<filter-mapping>
		<filter-name>Encoding</filter-name>
		<url-pattern>/controller</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>Local</filter-name>
		<filter-class>by.htp.ex.controller.filter.LocalFilter</filter-class>
		<init-param>
			<param-name>local</param-name>
			<param-value>en</param-value>
		</init-param>		
	</filter>	

	<filter-mapping>
		<filter-name>Local</filter-name>
		<url-pattern>/controller</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>Error</filter-name>
		<filter-class>by.htp.ex.controller.filter.ErrorFilter</filter-class>		
	</filter>

	<filter-mapping>
		<filter-name>Error</filter-name>
		<url-pattern>/controller</url-pattern>
	</filter-mapping>

	<error-page>
		<error-code>500</error-code>
		<location>/error.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>404</error-code>
		<location>/error.jsp</location>
	</error-page>

</web-app>